<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="3429formulahendry.VisualStudioCodeExtensionMarketp" Version="1.1.2.0" Publisher="CN=68333FE0-0A4B-4CAD-AEA4-91544F6802F4" />
  <mp:PhoneIdentity PhoneProductId="89dd1862-5c61-41c2-af93-66b00a991f0f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Visual Studio Code Extension Marketplace</DisplayName>
    <PublisherDisplayName>formulahendry</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="https://vsce.github.io">
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="https://vsce.github.io" Type="include" WindowsRuntimeAccess="all" />
      </uap:ApplicationContentUriRules>
      <uap:VisualElements DisplayName="Visual Studio Code Extension Marketplace" Description="Data insight for popular extensions, history of download count, extension leaderboard, and integrated VS Code Marketplace." BackgroundColor="transparent" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" Square310x310Logo="images\LargeTile.png" Square71x71Logo="images\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\splashscreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>